.remark-slide-content {
  font-family: Centaur, "Times New Roman";
  line-height: 1.2em;
  color: #515151;
}
/* background page */
.pitcher-background {
  background-image: url("img/pitching-icon.png");
  background-position: right 4em bottom 4em;
}
/* break page */
.remark-slide .inverse{
  background-color: #00204E;
  color: #ffffff;
}
.inverse .remark-slide-number {
  display: none;
}
.inverse h1{
  padding-top: 350px;
  font-size: 45px;
  text-align: left;
  text-shadow: none;
  padding-bottom: 18px;
  margin-bottom: 18px;
  border-bottom: solid #ffffff 1px;
}
/* title page */
.title-slide {
  background-image: url("img/U-of-T-logo.svg");
  background-position: 4em 4em;
}
.title-slide h1 {
  padding-top: 250px;
  border: none;
}
.title-slide h2 {
  font-size: 35px;
  text-align: left;
  text-shadow: none;
  padding-top: 0;
  margin-top: 0;
  color: #c8c8c8;
}
.title-slide h3 {
  font-size: 24px;
  text-align: left;
  text-shadow: none;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 1em;
  color: #515151;
}
.title-slide .remark-slide-number {
  display: none;
}

.row{
    display: flex;
}
.column {
    flex: 50%;
}
.column-two-thirds {
    flex: 66%;
}
.column-one-third {
    flex: 33%;
}

/* table */
.remark-slide table {
  line-height: normal;
}
/* etc. */
.smaller {
  font-size: 0.7em;
}
.large {
  font-size: 1.5em;
}
.larger {
  font-size: 2em;
}
.my-heading {
  font-size: 1.2em;
  border-left: 5px solid #00204E;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
}
b, strong {
  color: #00204E;
}
li {
  font-size: 0.9em;
}
