<header id="header">
    <a href="{{ '/' | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> | {{ site.description | downcase }}</a>
    <ul class="icons">
        {% for social in site.data.settings.social %}
        {% if social.label == "Feed" %}
        <li><a href="{{ social.link | absolute_url }}" target="_blank" class="icon fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
        {% else %}
        <li><a href="{{ social.link }}" target="_blank" class="icon fa-{{ social.icon }}"><span class="label">{{ social.label }}</span></a></li>
        {% endif %}
        {% endfor %}
    </ul>
</header>
