/* Page navigation */

#page-nav {
  display: none;
  position: fixed;
  background-color:#ffffff;
  opacity: 0.9;
  bottom: 1.5em;
  right: 2em;
  z-index: 9999;
  margin: 0;
  padding: 0.5em;
  border-top: solid 5px _palette(accent);
  border-left: solid 5px _palette(accent);

  > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    overflow-x: scroll;
    > li > a {
      color: _palette(fg);
    }
  }

  > h5 {
    text-align: left;
    padding: 0;
    margin: 0 0 0.5em 0;
  }

  @include breakpoint(medium) {
    bottom: 0;
    left: 0;
    width: 100%;
    border-left: 0;
    margin: 0;
    padding-bottom: 0.7em;

    > ul {
      text-align: left;
      white-space: nowrap;

      > li {
        display: inline;
      }
    }

    > h5 {
      display: none;
    }
  }
}
