/* Tags */

.tag{
    font-size: 0.8em;
    display: inline;
    font-family: _font(family-fixed);
    text-transform: uppercase;
    padding: 0.5em;
    margin: 0.2em;
}

#tagcloud{

    max-height: 150px;
    overflow-y: scroll;

    .tags .tag{
        margin: 0.05em;
        line-height: 2.5em;
    }
}
